/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
/* You can add global styles to this file, and also import other style files */

/* minimum version*/
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.dark.min.css";
@import 'ckeditor5/ckeditor5.css';

:root {
  --app-header-height: 64px;
  --app-footer-height: 0px;
  --app-content-margin-height: 0px;

  --color: black;
  --ck-color-base-foreground: black;
  --ck-color-input-text: black;
}

/* 스크롤 바*/
::-webkit-scrollbar-track
{
  border-radius: 10px;
  --webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar
{
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #555;
  --webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
::-webkit-scrollbar-thumb:hover{
  background-color: gray;
}

/*
.ag-theme-balham-dark .ag-header {
  font-family: cursive;
}

.ag-theme-balham-dark .ag-header-cell {
  font-size: 18px;
}
*/

@font-face {
  font-family: 'Pretendard';
  src: url('assets/fonts/Pretendard-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body { height: 100%; }
body { margin: 0; font-family: Pretendard,ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; }

/*
Roboto, "Helvetica Neue", sans-serif
*/

